app.db
app.log
.env
kook-tracker/.env
.ebextensions/rds.config
**/__pycache__/
*.py[cod]
*.zip

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# old files/secrets
connection.json
.ebextensions/.db.config
