option_settings:
    - namespace: aws:elasticbeanstalk:environment
      option_name: EnvironmentType
      value: SingleInstance
    - namespace: aws:ec2:instances
      option_name: InstanceTypes
      value: t2.micro
    - namespace: aws:autoscaling:launchconfiguration
      option_name: SecurityGroups
      value: default
