option_settings:
  aws:elasticbeanstalk:application:environment:
    DB_CONNECTION_FILE: /tmp/connection.json

Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["DOC-EXAMPLE-BUCKET-123456789012"]
          roleName: "aws-elasticbeanstalk-ec2-role"

files:
  "/tmp/connection.json" :
    mode: "000644"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3-us-west-2.amazonaws.com/kook-tracker-secrets/connection.json
